h1=title

div(style="background-image: url('http://gravatar.com/avatar/#{comment.gravatar}?r=g&s=60');", class='comment')
  p.content #{comment.comment}
  p.attribution 
    span.date #{comment.display_date}
    |  about
    span.product #{comment.product_name}.
